<div class="forecast-container">
  <div class="forecast-card">
    <header class="card-header">
      <button class="back-button" (click)="goBack()">← Volver</button>
      <h2 *ngIf="cityName">Pronóstico para {{ cityName }}</h2>
    </header>

    <div class="forecast-list">
      <div class="day-card" *ngFor="let day of forecastData">
        <div class="day-info">
          <p class="date">{{ day.dt_txt | date:'EEEE, d MMMM' }}</p>
          <p class="description">{{ day.weather[0].description | titlecase }}</p>
        </div>
        <div class="day-weather">
          <img [src]="'https://openweathermap.org/img/wn/' + day.weather[0].icon + '@2x.png'">
          <p class="temp">{{ day.main.temp | number:'1.0-0' }}°C</p>
        </div>
      </div>
    </div>

  </div>
</div>