<div class="dashboard-container" *ngIf="weatherData">
  <div class="weather-card">
    <header class="card-header">
      <h2>Weather App</h2>
      <div class="header-icons">
        </div>
    </header>

    <div class="search-bar">
      <input 
       type="text" 
       placeholder="Buscar ubicación..."
       [(ngModel)]="searchCity"
       (keyup.enter)="onSearch()">
    </div>

    <div class="recent-searches">
      <button 
        *ngFor="let city of recentCities"
        (click)="loadWeatherData(city)"
        [class.active]="city === weatherData?.name">
       {{ city }}
     </button>
    </div>

    <div class="main-weather">
      <h3>{{ weatherData.name }}</h3>
      <div class="temperature">
        {{ weatherData.main.temp | number:'1.0-0' }}<span>°C</span>
      </div>
      
      <img [src]="'https://openweathermap.org/img/wn/' + weatherData.weather[0].icon + '@2x.png'" alt="Icono del tiempo">

      <p class="weather-description">{{ weatherData.weather[0].description | titlecase }}</p>
      <p class="feels-like">Sensación térmica: {{ weatherData.main.feels_like | number:'1.0-0' }}°C</p>
    </div>

    <div class="hourly-forecast">
      <h4>Pronóstico por Horas</h4>
      <div class="hours">
        <div class="hour-item"><p>14:00</p><p>29°C</p></div>
        <div class="hour-item"><p>17:00</p><p>30°C</p></div>
        <div class="hour-item"><p>23:00</p><p>26°C</p></div>
      </div>
    </div>

    <div class="additional-info">
      <h4>Información Adicional</h4>
      <div class="info-grid">
        <div class="info-item">
          <p>Humedad</p>
          <span>{{ weatherData.main.humidity }}%</span>
        </div>
        <div class="info-item">
          <p>Velocidad Viento</p>
          <span>{{ weatherData.wind.speed }} m/s</span>
        </div>
        <div class="info-item">
          <p>Presión</p>
          <span>{{ weatherData.main.pressure }} hPa</span>
        </div>
      </div>
    </div>

    <button class="five-day-forecast-btn">Pronóstico 5 Días</button>
  </div>
</div>